.containerJobs {
    width: fit-content;
    width: 92%;
    margin: 0 auto;
    padding: 50px;
}

.containerJobs article{
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: column;
text-align: center;
}